name: App CI

on:
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

jobs:
  build-test:
    runs-on: ubuntu-latestc
    permissions:
      actions: write
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Compile source code
        run: bash ./scripts/build.sh

      - name: Compile tests
        run: bash ./scripts/build-test.sh

      - name: Run tests
        run: bash ./scripts/run-test.sh

      - name: CodeQL Initialization
        uses: github/codeql-action/init@v3
        with:
          language: java
      - name: CodeQL Analysis
        uses: github/codeql-action/analyze@v3